# Various python files
__pycache__/
dist/
build/
coverage.xml
htmlcov
*.egg-info/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
.cache
.coverage

# PyCharm files
.idea
.DS_Store

# output working directory
work/

# credentials file
credentials.json
