# Google Application Credential
# do not upload/share this file
open-targets-gac.json
mrtarget.data.yml
opentargets-urlzsource

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm files
.idea
.DS_Store

# Output dir
output/

# Log output file
logs/
.log
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.venv/*

# hidden files
.*

# meta dirs
sessions/
credentials/

# terraform
terraform.tfstate

# ruff
.ruff_cache/
