language: python
python:
  - "3.8"
services:
  - docker
env:
  global:
    - QUAY_REPO="quay.io/opentargets/platform-input-support"
before_install:
  # Install Miniconda
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda3/bin:$PATH
  - conda update --yes conda
install:
  # Set up a conda environment with the right Python version.
  - conda create --force -f environment.yaml python=$TRAVIS_PYTHON_VERSION
  - source activate otpis
script:
   - python -m pytest --cov=modules --cov-report term tests/ --fulltrace
after_success:
  - codecov
  - |
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then
      echo "--- Building and pushing Docker image ---"
      docker pull "${QUAY_REPO}:${TRAVIS_BRANCH}" || true
      docker build --pull --cache-from "${QUAY_REPO}:${TRAVIS_BRANCH}" --tag "${QUAY_REPO}" .
      docker login -u="${QUAY_USER}" -p="${QUAY_PASSWORD}" quay.io
      git_sha="${TRAVIS_COMMIT}"
      docker tag "${QUAY_REPO}" "${QUAY_REPO}:${TRAVIS_BRANCH}"
      docker tag "${QUAY_REPO}" "${QUAY_REPO}:${git_sha}-${TRAVIS_BRANCH}"
      docker push "${QUAY_REPO}:${TRAVIS_BRANCH}" && docker push "${QUAY_REPO}:${git_sha}-${TRAVIS_BRANCH}"
      if [ "${TRAVIS_TAG}" != "" ]; then
        echo "Pushing tagged released container ${TRAVIS_TAG}"
        docker tag "${QUAY_REPO}:${TRAVIS_BRANCH}" "${QUAY_REPO}:${TRAVIS_TAG}"
        docker push "${QUAY_REPO}:${TRAVIS_TAG}"
      fi
      if [ "${TRAVIS_BRANCH}" = "master" ]; then
        echo "This is the Master branch, pushing as latest"
        docker tag "${QUAY_REPO}:${TRAVIS_BRANCH}" "${QUAY_REPO}:latest"
        docker push "${QUAY_REPO}:latest"
      fi
    fi
