---
config:
  riot: /home/cinzia/apache-jena/bin/riot
  jq: /usr/local/jq
  java_vm: -Xmx6096M
annotations:
  gs_output_dir: annotation-files
  downloads:
  - uri: https://www.uniprot.org/uniprot/?query=reviewed%3Ayes%2BAND%2Borganism%3A9606&compress=yes&format=txt
    output_filename: uniprot-{suffix}.txt.gz
    resource: uniprot-uri
  - uri: https://reactome.org/download/current/ReactomePathways.txt
    output_filename: ReactomePathways-{suffix}.txt
    resource: reactome-pathway-data
  - uri: https://reactome.org/download/current/ReactomePathwaysRelation.txt
    output_filename: ReactomePathwaysRelation-{suffix}.txt
    resource: reactome-pathway-relation
  - uri: http://ftp.ebi.ac.uk/pub/databases/genenames/new/json/hgnc_complete_set.json
    output_filename: hgnc_complete_set-{suffix}.json
    resource: hgnc-complete-set
  - uri: http://ftp.ebi.ac.uk/pub/databases/genenames/hcop/human_all_hcop_sixteen_column.txt.gz
    output_filename: human_all_hcop_sixteen_column-{suffix}.txt.gz
    resource: hgnc-orthologs
  - uri: http://www.informatics.jax.org/downloads/reports/HMD_HumanPhenotype.rpt
    output_filename: HMD_HumanPhenotype-{suffix}.rpt
    resource: mouse-phenotypes-orthology
  - uri: http://www.informatics.jax.org/downloads/reports/MGI_PhenoGenoMP.rpt
    output_filename: MGI_PhenoGenoMP-{suffix}.rpt
    resource: mouse-phenotypes-report
  - uri: https://raw.githubusercontent.com/opentargets/expression_hierarchy/master/process/map_with_efos.json
    output_filename: map_with_efos-{suffix}.json
    resource: tissue-translation-map
  - uri: https://raw.githubusercontent.com/opentargets/expression_hierarchy/master/process/curation.tsv
    output_filename: expression_hierarchy_curation-{suffix}.tsv
    resource: tissue-curation-map
  - uri: https://www.proteinatlas.org/download/normal_tissue.tsv.zip
    #This file will saved normal_tissue-{suffix}.tsv
    output_filename: normal_tissue-{suffix}.tsv.zip
    unzip_file: true
    resource: hpa-normal-tissue
  - uri: https://raw.githubusercontent.com/opentargets/data_pipeline/master/mrtarget/resources/eco_scores.tsv
    output_filename: eco_scores-{suffix}.tsv
    resource: eco-scores
annotations_from_buckets:
  gs_output_dir: annotation-files
  downloads:
  - bucket: atlas_baseline_expression/baseline_expression_binned
    output_filename: baseline_expression_binned-{suffix}.tsv
    resource: hpa-rna-level
  - bucket: atlas_baseline_expression/baseline_expression_counts
    output_filename: baseline_expression_counts-{suffix}.tsv
    resource: hpa-rna-value
  - bucket: atlas_baseline_expression/baseline_expression_zscore_binned
    output_filename: baseline_expression_zscore_binned-{suffix}.tsv
    resource: hpa-rna-zscore
  - bucket: otar007-cosmic
    output_filename: cosmic-hallmarks-{suffix}.tsv.gz
    resource: hallmark
    includes: hallmarks
  - bucket: otar001-core/Tractability
    output_filename: tractability_buckets-{suffix}.tsv
    resource: tractability
  - bucket: otar001-core/CancerBiomarkers/annotation
    output_filename: cancerbiomarkers-{suffix}.tsv
    resource: biomarker
  - bucket: otar001-core/ProbeMiner/annotation
    output_filename: chemicalprobes_probeminer-{suffix}.tsv
    resource: chemical-probes-2
  - bucket: otar001-core/AdverseEvents/annotation
    output_filename: adverse-events-{suffix}.csv.gz
    resource: adverse-events
  - bucket: otar001-core/DrugBank/annotation
    output_filename: drugbank-{suffix}.csv.gz
    resource: drugbank
  - bucket: otar001-core/ExperimentalToxicity
    output_filename: experimental-toxicity-{suffix}.tsv
    resource: experimental-toxicity
eco:
  gs_output_dir: annotation-files/ontology
  eco_downloads:
    - uri: https://raw.githubusercontent.com/evidenceontology/evidenceontology/v2021-01-08/eco.owl
      output_filename: ontology-eco-{suffix}.owl
      resource: ontology-eco
      owl_jq: '.["@graph"][]'
    - uri: https://raw.githubusercontent.com/The-Sequence-Ontology/SO-Ontologies/v3.1/releases/so-xp.owl/so.owl
      output_filename: ontology-so-{suffix}.owl
      resource: ontology-so
      owl_jq: '.["@graph"][] | select (.["@type"] == "owl:Class" and .id != null)|.subClassOf=([.subClassOf]|flatten|del(.[]|nulls))|.hasExactSynonym=([.hasExactSynonym]|flatten|del(.[]|nulls))|.hasDbXref=([.hasDbXref]|flatten|del(.[]|nulls))|.inSubset=([.inSubset]|flatten|del(.[]|nulls))|.hasAlternativeId=([.hasAlternativeId]|flatten|del(.[]|nulls))|@json'
efo:
  gs_output_dir: annotation-files/ontology
  hpo_phenotypes:
    uri: http://compbio.charite.de/jenkins/job/hpo.annotations.current/lastSuccessfulBuild/artifact/current/phenotype.hpoa
    output_filename: hpo-phenotypes-{suffix}.jsonl
    resource: hpo-phenotype
  disease:
    efo:
      uri: https://github.com/EBISPOT/efo/releases/download/v3.26.0/efo_otar_slim.owl
      output_filename: ontology-efo-v3.26.0.jsonl
      resource: ontology-efo
      owl_jq: '.["@graph"][] | select (.["@type"] == "Class" and ."@id" != null)|.subClassOf=([.subClassOf]|flatten|del(.[]|nulls))|.hasExactSynonym=([.hasExactSynonym]|flatten|del(.[]|nulls))|.hasDbXref=([.hasDbXref]|flatten|del(.[]|nulls))|.inSubset=([.inSubset]|flatten|del(.[]|nulls))|.hasAlternativeId=([.hasAlternativeId]|flatten|del(.[]|nulls))|@json'
      static:
        therapeutic_area: therapeutic_area.txt
        diseases: diseases_efo.jsonl
    hpo:
      uri: https://raw.githubusercontent.com/obophenotype/human-phenotype-ontology/master/hp.owl
      output_filename: ontology-hpo.jsonl
      resource: ontology-hpo
      owl_jq: '.["@graph"][] | select (.["@type"] == "owl:Class") | @json'
    mondo:
      uri: https://github.com/monarch-initiative/mondo/releases/download/v2021-01-29/mondo.owl
      output_filename: ontology-mondo.jsonl
      resource: ontology-mondo
      owl_jq: '.["@graph"][] | @json'
  efo_extra_downloads:
    - uri: http://www.informatics.jax.org/downloads/reports/mp.owl
      output_filename: ontology-mp-{suffix}.owl
      resource: ontology-mp
    - uri: https://sourceforge.net/p/efo/code/HEAD/tree/trunk/src/efoassociations/ibd_2_pheno_associations.owl?format=raw
      output_filename: ibd_2_pheno_associations-{suffix}.owl
      resource: disease-phenotype
    - uri: https://sourceforge.net/p/efo/code/HEAD/tree/trunk/src/efoassociations/immune_disease_2_pheno.owl?format=raw
      output_filename: immune_disease_2_pheno-{suffix}.owl
      resource: disease-phenotype
    - uri: https://sourceforge.net/p/efo/code/HEAD/tree/trunk/src/efoassociations/rareAlbuminuria_associations_03Jun15.owl?format=raw
      output_filename: rareAlbuminuria_associations-{suffix}.owl
      resource: disease-phenotype
    - uri: https://sourceforge.net/p/efo/code/HEAD/tree/trunk/src/efoassociations/rareIBDpheno.owl?format=raw
      output_filename: rareIBDpheno-{suffix}.owl
      resource: disease-phenotype
    - uri: https://sourceforge.net/p/efo/code/HEAD/tree/trunk/src/efoassociations/ordo_hpo_mappings.owl?format=raw
      output_filename: ordo_hpo_mappings-{suffix}.owl
      resource: disease-phenotype
    - uri: https://sourceforge.net/p/efo/code/HEAD/tree/trunk/src/efoassociations/charite_HP_ORDO_07Oct15.owl?format=raw
      output_filename: charite_HP_ORDO-{suffix}.owl
      resource: disease-phenotype
chemical_probes:
  output_filename: chemicalprobes_portalprobes-{suffix}.tsv
  resource: chemical-probes-1
  gs_output_dir: annotation-files
  spreadsheets:
  - gkey: 1VL3eHGpvJMaQ7LYp0Kp1plEo-NueP3CT7FUCrW0p2dg
    gid: 1686598114
    output_filename: chemical_probes_SGC.tsv
    cp_type: sgc
  - gkey: 1VL3eHGpvJMaQ7LYp0Kp1plEo-NueP3CT7FUCrW0p2dg
    gid: 1636863333
    output_filename: chemical_probes_portal.tsv
    cp_type: cpp
  - gkey: 1VL3eHGpvJMaQ7LYp0Kp1plEo-NueP3CT7FUCrW0p2dg
    gid: 349856989
    output_filename: open_science_probes.tsv
    cp_type: osp
tep:
  output_filename: tep-{suffix}.json
  resource: tep
  gs_output_dir: annotation-files
  spreadsheets:
  - gkey: 1pV06MTC-szlJRjlgG9rV6WW67r6Nxd9oAXfqZkrNVAU
    gid: 0
    output_filename: tep.tsv
known_target_safety:
  output_filename: known_target_safety-{suffix}.json
  resource: safety
  gs_output_dir: annotation-files
  spreadsheets:
  - gkey: 1EvpcnUkDASUNoBU5PzQPGD5YtZxh7cgotr2MqClJ7t0
    gid: 1760619926
    output_filename: adverse_effects.tsv
    s_type: adr
  - gkey: 1EvpcnUkDASUNoBU5PzQPGD5YtZxh7cgotr2MqClJ7t0
    gid: 650742396
    output_filename: safety_risk_information.tsv
    s_type: sri
  - gkey: 1EvpcnUkDASUNoBU5PzQPGD5YtZxh7cgotr2MqClJ7t0
    gid: 1774810192
    output_filename: UBERON_mapping.tsv
    s_type: ubr
  - gkey: 1EvpcnUkDASUNoBU5PzQPGD5YtZxh7cgotr2MqClJ7t0
    gid: 1717378859
    output_filename: EFO_mapping.tsv
    s_type: efo
  - gkey: 1EvpcnUkDASUNoBU5PzQPGD5YtZxh7cgotr2MqClJ7t0
    gid: 1223815020
    output_filename: references.tsv
    s_type: ref
target:
  gs_output_dir: annotation-files
  ensembl:
    release: 103
    url: ftp.ensembl.org
    path: /pub/release-{suffix}
    homo_sapiens:
      path: /json/homo_sapiens/
      filename: homo_sapiens.json
    orthologs:
      path: /tsv/ensembl-compara/homologies/homo_sapiens/
      files:
      - Compara.{suffix}.protein_default.homologies.tsv.gz
      - Compara.{suffix}.ncrna_default.homologies.tsv.gz
    species: species_EnsemblVertebrates.txt
  go:
    url: ftp.ebi.ac.uk
    goa_human:
      path: /pub/databases/GO/goa/HUMAN/
      files:
      - goa_human.gaf.gz
      - goa_human_rna.gaf.gz
    goa_ensembl:
      path: /pub/databases/RNAcentral/current_release/id_mapping/database_mappings/
      filename: ensembl.tsv
  hpa:
#  ncbi:
#  project_scores:

ensembl:
  ensembl_release: homo_sapiens_core_102_38
  extension_file: _genes.json.gz
  resource: ensembl-filename
  gs_output_dir: annotation-files
drug:
  gs_output_dir: annotation-files
  datasources:
    chembl:
      type: elasticsearch
      url: hh-rke-wp-webadmin-04-worker-4.caas.ebi.ac.uk
      port: 32000
      indices:
        chembl-indication:
          name: chembl_27_drug_indication
          fields:
            - 'molecule_chembl_id'
            - 'efo_id'
            - 'max_phase_for_ind'
        chembl-mechanism:
          name: chembl_27_mechanism
          fields:
            - 'molecule_chembl_id'
            - 'target_chembl_id'
            - 'action_type'
            - 'mechanism_of_action'
            - 'mechanism_refs'
            - 'record_id'
            - 'parent_molecule_chembl_id'
            - '_metadata'
        chembl-molecule:
          name: chembl_27_molecule
          fields:
            - 'molecule_chembl_id'
            - 'molecule_hierarchy'
            - 'molecule_type'
            - 'pref_name'
            - 'first_approval'
            - 'max_phase'
            - 'withdrawn_flag'
            - 'withdrawn_reason'
            - 'withdrawn_year'
            - 'withdrawn_country'
            - 'withdrawn_class'
            - 'black_box_warning'
            - 'molecule_synonyms'
            - 'cross_references'
            - 'chebi_par_id'
            - 'molecule_structures'
        chembl-target:
          name: chembl_28_target
          fields:
            - 'target_chembl_id'
            - 'target_components'
            - 'target_type'
            - 'pref_name'
            - '_metadata'
ChEMBL:
  gs_output_dir: annotation-files
  downloads:
    drug:
      uri: https://www.ebi.ac.uk/chembl/api/data/drug_indication.json
      output_filename: chembl_drug_indication_rest_api-{suffix}.json
      resource: chembl-indication
    molecule:
      uri: https://www.ebi.ac.uk/chembl/api/data/molecule.json
      output_filename: chembl_molecule_rest_api-{suffix}.json
      resource: chembl-molecule
    target:
      uri: https://www.ebi.ac.uk/chembl/api/data/target.json
      output_filename: chembl_target_rest_api-{suffix}.json
      resource: chembl-target
    mechanism:
      uri: https://www.ebi.ac.uk/chembl/api/data/mechanism.json
      output_filename: chembl_mechanism_rest_api-{suffix}.json
      resource: chembl-mechanism
    target_component:
      uri: https://www.ebi.ac.uk/chembl/api/data/target_component.json
      output_filename: chembl_target_component_rest_api-{suffix}.json
      resource: chembl-component
    protein_class:
      uri: https://www.ebi.ac.uk/chembl/api/data/protein_class.json
      output_filename: chembl_protein_class_rest_api-{suffix}.json
      resource: chembl-protein
interactions:
  gs_output_dir: annotation-files/interactions
  intact_info:
    uri : ftp://ftp.ebi.ac.uk/pub/databases/intact/various/ot_graphdb/current/data/interactor_pair_interactions.json
    output_filename: intact-interactors-{suffix}.json
    resource: intact
  rna_central:
    uri: ftp://ftp.ebi.ac.uk/pub/databases/RNAcentral/current_release/id_mapping/database_mappings/ensembl.tsv
    output_filename: rna_central_ensembl.tsv
    output_dir: rna-central
    resource: rna-central-interaction
  uniprot_info:
    uri : ftp://ftp.ebi.ac.uk/pub/databases/uniprot/current_release/knowledgebase/idmapping/by_organism/HUMAN_9606_idmapping.dat.gz
    output_filename: HUMAN_9606_idmapping.dat.gz
    output_dir: human-mapping
    resource: uniprot-interaction
  string_info: 
    uri: https://stringdb-static.org/download/protein.links.detailed.v11.0/9606.protein.links.detailed.v11.0.txt.gz
    output_string: string-interactions-{suffix}.json.gz
    resource: string-interaction
    score_threshold: 0
    score_limit:
    additional_resouces:
      ensembl_ftp:
        uri: http://ftp.ensembl.org/pub/current_gtf/homo_sapiens/Homo_sapiens.GRCh38.102.chr.gtf.gz
        output_filename: Homo_sapiens.GRCh38.chr.gtf.gz
        output_protein_mapping: ensembl-protein-{suffix}.json.gz
        resource: string-interaction-ensembl-protein
      network_json_schema:
        url: https://raw.githubusercontent.com/opentargets/json_schema/master/OT_network_schema.json
evidences:
  gs_output_dir: evidence-files
  downloads:
  - bucket: otar000-evidence_input/ClinGen
    output_filename: clingen-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
  - bucket: otar000-evidence_input/CRISPR/json
    output_filename: crispr-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar006-reactome
    output_filename: reactome-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/uniprot/
  - bucket: otar007-cosmic
    output_filename: cosmic-{suffix}.json.gz
    excludes: hallmarks
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar008-chembl
    output_filename: chembl-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/uniprot/
  - bucket: otar000-evidence_input/Genetics_portal/json/
    output_filename: genetics-portal-evidences-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar010-atlas
    output_filename: atlas-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar011-uniprot
    output_filename: uniprot-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/uniprot/
  - bucket: otar012-eva
    output_filename: eva-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar025-epmc
    output_filename: epmc-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/uniprot/
  - bucket: otar000-evidence_input/Gene2Phenotype/json
    output_filename: gene2phenotype-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar000-evidence_input/GenomicsEngland/json
    output_filename: genomics_england-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar000-evidence_input/IntOgen/json
    output_filename: intogen-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar000-evidence_input/PhenoDigm/json
    output_filename: phenodigm-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar000-evidence_input/PheWAS/json
    output_filename: phewas_catalog-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar000-evidence_input/PROGENy/json
    output_filename: progeny-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar000-evidence_input/SLAPEnrich/json
    output_filename: slapenrich-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
  - bucket: otar000-evidence_input/SysBio/json
    output_filename: sysbio-{suffix}.json.gz
    resource: input-file
    subset_key:
    - target
    - id
    subset_prefix: http://identifiers.org/ensembl/
annotations_qc:
  gs_output_dir: other
  release_to_compare: open-targets-data-releases/20.11/input
  list_datatypes:
    - datatype: tractability
      keycols: ['ensembl_gene_id']
      separator: "\t"
      out_type: summary
      out_prefix: QC_tract
      filename_regular_expression: .*tractability_buckets-.*.tsv
    - datatype: cancerhallmarks
      keycols: ['ID_CENSUS_ANNOT']
      separator: "\t"
      out_type: summary
      out_prefix: QC_cancerhallmarks
      filename_regular_expression: .*cosmic-hallmarks-.*.tsv.gz
    - datatype: portalprobes
      keycols: ['Probe','Target']
      separator: "\t"
      out_type: summary
      out_prefix: QC_portalprobes
      filename_regular_expression: .*chemicalprobes_portalprobes-.*.tsv
    - datatype: probeminer
      keycols: ['hgnc_symbol','uniprot_symbol']
      separator: "\t"
      out_type: summary
      out_prefix: QC_probeminer
      filename_regular_expression: .*chemicalprobes_probeminer-.*.tsv
    - datatype: biomarkers
      keycols: ['Alteration', 'AlterationType', 'AssayType', 'Association', 'Biomarker', 'Comments',
                'CurationDate', 'Curator', 'Drug', 'DrugFamily', 'DrugFullName', 'DrugStatus', 'EvidenceLevel',
                'Gene', 'MetastaticTumorType', 'PrimaryTumorAcronym', 'PrimaryTumorTypeFullName', 'Source',
                'TCGIincluded', 'Targeting', 'cDNA', 'gDNA', 'IndividualMutation', 'Info', 'Region', 'Strand',
                'Transcript', 'PrimaryTumorType']
      separator: "\t"
      out_type: summary
      out_prefix: QC_biomarkers
      filename_regular_expression: .*cancerbiomarkers-.*.tsv
#The uri of data_pipeline_schema should point to the latest config data file.
data_pipeline_schema:
  uri: https://storage.googleapis.com/open-targets-data-releases/20.11/templates/template.mrtarget.data.20.11.yml
  output_filename: mrtarget.data.yml
