---
config:
  gsutil : /snap/bin/gsutil
  riot: /usr/share/apache-jena/bin/riot
  jq: /usr/bin/jq
  java_vm: -Xmx6096M
  manifest:
    file_name: "manifest.json"
disease:
  etl:
   hpo_phenotypes:
    uri: http://purl.obolibrary.org/obo/hp/hpoa/phenotype.hpoa
    output_filename: hpo-phenotypes.jsonl
    path: ontology-inputs
   efo:
    uri: https://github.com/EBISPOT/efo/releases/download/v3.45.0/efo_otar_slim.owl
    output_filename: ontology-efo-v3.45.0.jsonl
    path: ontology-inputs
    owl_jq: '.["@graph"][] | select (.["@type"] == ("Class","Restriction") and ."@id" != null)|.subClassOf=([.subClassOf]|flatten|del(.[]|nulls))|.hasExactSynonym=([.hasExactSynonym]|flatten|del(.[]|nulls))|.hasDbXref=([.hasDbXref]|flatten|del(.[]|nulls))|.inSubset=([.inSubset]|flatten|del(.[]|nulls))|.hasAlternativeId=([.hasAlternativeId]|flatten|del(.[]|nulls))|@json'
    diseases_static_file: diseases_efo.jsonl
   hpo:
    uri: https://raw.githubusercontent.com/obophenotype/human-phenotype-ontology/v2021-10-10/hp.owl
    output_filename: ontology-hpo.jsonl
    path: ontology-inputs
    owl_jq: '.["@graph"][] | select (.["@type"] == "owl:Class") | @json'
   mondo:
    uri: https://github.com/monarch-initiative/mondo/releases/download/v2021-12-30/mondo.owl
    output_filename: ontology-mondo.jsonl
    path: ontology-inputs
    owl_jq: '.["@graph"][] | @json'
  miniset: yes
drug:
  http_downloads:
   - uri: https://go.drugbank.com/releases/5-1-9/downloads/all-drugbank-vocabulary
     path: chembl-inputs
     output_filename: 'drugbank_vocabulary.csv'
  gs_downloads_latest:
   - bucket: otar001-core/DrugBank/annotation
     output_filename: drugbank.csv.gz
     path: chembl-inputs
  etl:
    chembl:
      type: elasticsearch
      url: https://www.ebi.ac.uk/chembl/elk/es
      path: chembl-inputs
      indices:
        chembl-indication:
          name: chembl_31_drug_indication
          fields:
            - '_metadata'
            - 'molecule_chembl_id'
            - 'efo_id'
            - 'max_phase_for_ind'
            - 'indication_refs'
        chembl-mechanism:
          name: chembl_31_mechanism
          fields:
            - 'molecule_chembl_id'
            - 'target_chembl_id'
            - 'action_type'
            - 'mechanism_of_action'
            - 'mechanism_refs'
            - 'record_id'
            - 'parent_molecule_chembl_id'
            - '_metadata'
        chembl-molecule:
          name: chembl_31_molecule
          fields:
            - 'molecule_chembl_id'
            - 'molecule_hierarchy'
            - 'molecule_type'
            - 'pref_name'
            - 'first_approval'
            - 'max_phase'
            - 'withdrawn_flag'
            - 'withdrawn_reason'
            - 'withdrawn_year'
            - 'withdrawn_country'
            - 'withdrawn_class'
            - 'black_box_warning'
            - 'molecule_synonyms'
            - 'cross_references'
            - 'chebi_par_id'
            - 'molecule_structures'
        chembl-target:
          name: chembl_31_target
          fields:
            - '_metadata'
            - 'target_chembl_id'
            - 'target_components'
            - 'target_type'
            - 'pref_name'
        chembl-drug-warning:
          name: chembl_31_drug_warning
          fields:
            - '_metadata'
            - 'molecule_chembl_id'
            - 'parent_molecule_chembl_id'
            - 'warning_class'
            - 'warning_country'
            - 'warning_description'
            - 'warning_id'
            - 'warning_refs'
            - 'warning_type'
            - 'warning_year'
  miniset: yes
evidence:
  gs_downloads_latest:
  - bucket: otar000-evidence_input/CancerBiomarkers/json
    output_filename: cancerbiomarkers.json.gz
    output_spark_dir: cancerbiomarkers
    path: evidence-files
  - bucket: otar000-evidence_input/Orphanet/json
    output_filename: orphanet.json.gz
    output_spark_dir: orphanet
    path: evidence-files
  - bucket: otar000-evidence_input/ClinGen/json
    output_filename: clingen.json.gz
    output_spark_dir: clingen
    path: evidence-files
  - bucket: otar000-evidence_input/CRISPR/json
    output_filename: crispr.json.gz
    output_spark_dir: crispr
    path: evidence-files
  - bucket: otar006-reactome
    output_filename: reactome.json.gz
    output_spark_dir: reactome
    path: evidence-files
  - bucket: otar007-cosmic
    output_filename: cosmic.json.gz
    output_spark_dir: cosmic
    excludes: hallmarks
    path: evidence-files
  - bucket: otar000-evidence_input/ChEMBL/json
    output_filename: chembl.json.gz
    output_spark_dir: chembl
    path: evidence-files
  - bucket: otar000-evidence_input/Genetics_portal/json/
    output_filename: genetics-portal-evidences.json.gz
    output_spark_dir: genetics-portal-evidences
    path: evidence-files
  - bucket: otar010-atlas
    output_filename: atlas.json.bz2
    output_spark_dir: atlas
    path: evidence-files
  - bucket: otar011-uniprot
    output_filename: uniprot.json.gz
    output_spark_dir: uniprot
    path: evidence-files
  - bucket: otar012-eva
    output_filename: eva.json.gz
    output_spark_dir: eva
    path: evidence-files
  - bucket: otar000-evidence_input/Gene2Phenotype/json
    output_filename: gene2phenotype.json.gz
    output_spark_dir: gene2phenotype
    path: evidence-files
  - bucket: otar000-evidence_input/GenomicsEngland/json
    output_filename: genomics_england.json.gz
    output_spark_dir: genomics-england
    path: evidence-files
  - bucket: otar000-evidence_input/IntOgen/json
    output_filename: intogen.json.gz
    output_spark_dir: intogen
    path: evidence-files
  - bucket: otar000-evidence_input/IMPC/json
    output_filename: impc.json.gz
    output_spark_dir: impc
    path: evidence-files
  - bucket: otar000-evidence_input/PROGENy/json
    output_filename: progeny.json.gz
    output_spark_dir: progeny
    path: evidence-files
  - bucket: otar000-evidence_input/SLAPEnrich/json
    output_filename: slapenrich.json.gz
    output_spark_dir: slapenrich
    path: evidence-files
  - bucket: otar000-evidence_input/SysBio/json
    output_filename: sysbio.json.gz
    output_spark_dir: sysbio
    path: evidence-files
  - bucket: otar000-evidence_input/GeneBurden/json
    output_filename: gene_burden.json.gz
    output_spark_dir: gene_burden
    path: evidence-files
expression:
  http_downloads:
  - uri: https://raw.githubusercontent.com/opentargets/expression_hierarchy/master/process/curation.tsv
    output_filename: expression_hierarchy_curation.tsv
    path: expression-inputs
  gs_downloads_latest:
  - bucket: atlas_baseline_expression/baseline_expression_binned
    output_filename: baseline_expression_binned.tsv
    path: expression-inputs
  - bucket: atlas_baseline_expression/baseline_expression_counts
    output_filename: baseline_expression_counts.tsv
    path: expression-inputs
  - bucket: atlas_baseline_expression/baseline_expression_zscore_binned
    output_filename: baseline_expression_zscore_binned.tsv
    path: expression-inputs
  etl:
    tissue_translation_map:
      uri: https://raw.githubusercontent.com/opentargets/expression_hierarchy/master/process/map_with_efos.json
      output_filename: tissue-translation-map.json
      path: expression-inputs
    normal_tissues:
      uri: https://www.proteinatlas.org/download/normal_tissue.tsv.zip
      output_filename: normal_tissue.tsv.gz
      path: expression-inputs
go:
  http_downloads:
  - uri: http://purl.obolibrary.org/obo/go.obo
    output_filename: go.obo
    path: gene-ontology-inputs
homologues:
  uri: https://ftp.ensembl.org/pub/release-{release}/json/
  path: target-inputs/homologue
  release: 107
  jq: ".genes[] | [.id, .name] | @tsv"
  resources:
      - 'caenorhabditis_elegans'
      - 'canis_lupus_familiaris'
      - 'cavia_porcellus'
      - 'danio_rerio'
      - 'drosophila_melanogaster'
      - 'macaca_mulatta'
      - 'mus_musculus'
      - 'oryctolagus_cuniculus'
      - 'pan_troglodytes'
      - 'rattus_norvegicus'
      - 'sus_scrofa'
      - 'sus_scrofa_usmarc'
      - 'xenopus_tropicalis'
      - 'homo_sapiens'
interactions:
  ftp_downloads:
  - uri: https://ftp.ebi.ac.uk/pub/databases/RNAcentral/current_release/id_mapping/database_mappings/ensembl.tsv
    output_filename: rna_central_ensembl.tsv
    path: interactions-inputs
  - uri : https://ftp.ebi.ac.uk/pub/databases/uniprot/current_release/knowledgebase/idmapping/by_organism/HUMAN_9606_idmapping.dat.gz
    output_filename: HUMAN_9606_idmapping.dat.gz
    path: interactions-inputs
  - uri : https://ftp.ebi.ac.uk/pub/databases/intact/various/ot_graphdb/current/data/interactor_pair_interactions.json
    output_filename: intact-interactors.json
    path: interactions-inputs
  http_downloads:
  - uri: https://stringdb-static.org/download/protein.links.detailed.v11.5/9606.protein.links.detailed.v11.5.txt.gz
    output_filename: string-interactions.json.gz
    path: interactions-inputs
  - uri: https://ftp.ensembl.org/pub/current_gtf/homo_sapiens/Homo_sapiens.GRCh38.107.chr.gtf.gz
    output_filename: Homo_sapiens.GRCh38.chr.gtf.gz
    path: interactions-inputs
mousephenotypes:
  gs_downloads_latest:
  - bucket: otar001-core/MousePhenotypes
    output_filename: mouse_phenotypes.json.gz
    path: mouse-phenotypes-inputs
openfda:
  http_downloads:
    - uri: 'https://raw.githubusercontent.com/opentargets/platform-etl-backend/master/src/main/resources/blacklisted_events.txt'
      path: fda-inputs
      output_filename: 'blacklisted_events.txt'
  etl:
    downloads:
      uri: 'https://api.fda.gov/download.json'
      path: fda-inputs
      output_filename: 'openfda_file_listing.json'
reactome:
  http_downloads:
  - uri: https://reactome.org/download/current/ReactomePathways.txt
    output_filename: ReactomePathways.txt
    path: reactome-inputs
  - uri: https://reactome.org/download/current/ReactomePathwaysRelation.txt
    output_filename: ReactomePathwaysRelation.txt
    path: reactome-inputs
so:
  etl:
    uri: https://raw.githubusercontent.com/The-Sequence-Ontology/SO-Ontologies/v3.1/releases/so-xp.owl/so.owl
    output_filename: ontology-so-{suffix}.json
    path: so-inputs
    owl_jq: '.["@graph"][] | select (.["@type"] == "owl:Class" and .id != null)|.subClassOf=([.subClassOf]|flatten|del(.[]|nulls))|.hasExactSynonym=([.hasExactSynonym]|flatten|del(.[]|nulls))|.hasDbXref=([.hasDbXref]|flatten|del(.[]|nulls))|.inSubset=([.inSubset]|flatten|del(.[]|nulls))|.hasAlternativeId=([.hasAlternativeId]|flatten|del(.[]|nulls))|@json'
target:
  http_downloads:
  - uri: https://ftp.ebi.ac.uk/pub/databases/genenames/new/json/hgnc_complete_set.json
    output_filename: hgnc_complete_set.json
    path: target-inputs/genenames
  - uri: https://reactome.org/download/current/Ensembl2Reactome.txt
    output_filename: Ensembl2Reactome.txt
    path: target-inputs/reactome
  - uri: https://ftp.ebi.ac.uk/pub/databases/genenames/hcop/human_all_hcop_sixteen_column.txt.gz
    output_filename: human_all_hcop_sixteen_column.txt.gz
    path: target-inputs/genenames
  - uri: https://cog.sanger.ac.uk/cmp/download/gene_identifiers_latest.csv.gz
    output_filename: gene_identifiers_latest.csv.gz
    path: target-inputs/project-scores
  - uri: https://rest.uniprot.org/uniprotkb/stream\?compressed\=true\&format\=txt\&query\=%28%28reviewed%3Atrue%29%29%20AND%20%28model_organism%3A9606%29
    output_filename: uniprot.txt.gz
    path: target-inputs/uniprot
  - uri: https://rest.uniprot.org/locations/stream?compressed=true&fields=id%2Cname%2Ccategory&format=tsv&query=%28%2A%29
    output_filename: uniprot-ssl.tsv.gz
    path: target-inputs/uniprot
  gs_downloads_latest:
  - bucket: otar001-core/subcellularLocations
    output_filename: subcellular_locations_ssl.tsv
    path: target-inputs/hpa
  - bucket: otar007-cosmic
    output_filename: cosmic-hallmarks.tsv.gz
    path: target-inputs/hallmarks
    includes: hallmarks
  - bucket: otar001-core/TEPs
    output_filename: tep.json.gz
    path: target-inputs/tep
  - bucket: otar001-core/ChemicalProbes/annotation
    output_filename: chemicalprobes.json.gz
    path: target-inputs/chemicalprobes
  - bucket: otar001-core/TargetSafety/data_files/adverse_events
    output_filename: adverse_event_safety.json
    path: target-inputs/safety/adverse_events
  - bucket: otar001-core/TargetSafety/data_files/safety_risk/
    output_filename: sr.json
    path: target-inputs/safety/safety_risk
  - bucket: otar001-core/TargetSafety/data_files/toxcast/
    output_filename: ToxCast.tsv
    path: target-inputs/safety/toxcast
  - bucket: otar001-core/Tractability
    output_filename: tractability.tsv
    path: target-inputs/tractability
  ftp_downloads:
  - uri: https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_40/gencode.v40.annotation.gff3.gz
    output_filename: gencode.gff3.gz
    path: target-inputs/gencode
  - uri: https://ftp.ensembl.org/pub/release-107/tsv/ensembl-compara/homologies/homo_sapiens/Compara.107.protein_default.homologies.tsv.gz
    output_filename: cpd.tsv.gz
    path: target-inputs/homologue
  - uri: https://ftp.ensembl.org/pub/release-107/tsv/ensembl-compara/homologies/homo_sapiens/Compara.107.ncrna_default.homologies.tsv.gz
    output_filename: crna.tsv.gz
    path: target-inputs/homologue
  - uri: https://ftp.ebi.ac.uk/pub/databases/RNAcentral/current_release/id_mapping/database_mappings/ensembl.tsv
    output_filename: ensembl.tsv
    path: target-inputs/go
  - uri: https://ftp.ebi.ac.uk/pub/databases/GO/goa/HUMAN/goa_human.gaf.gz
    output_filename: goa_human.gaf.gz
    path: target-inputs/go
  - uri: https://ftp.ebi.ac.uk/pub/databases/GO/goa/HUMAN/goa_human_rna.gaf.gz
    output_filename: goa_human_rna.gaf.gz
    path: target-inputs/go
  - uri: https://ftp.ebi.ac.uk/pub/databases/GO/goa/HUMAN/goa_human.gpa.gz
    output_filename: goa_human_eco.gpa.gz
    path: target-inputs/go
  - uri: https://ftp.ensembl.org/pub/release-107/species_EnsemblVertebrates.txt
    output_filename: species_EnsemblVertebrates.txt
    path: target-inputs/homologue
  - uri: https://ftp.ncbi.nlm.nih.gov/gene/DATA/GENE_INFO/Mammalia/Homo_sapiens.gene_info.gz
    output_filename: Homo_sapiens.gene_info.gz
    path: target-inputs/ncbi
  etl:
    gnomad:
      uri: https://storage.googleapis.com/gcp-public-data--gnomad/release/2.1.1/constraint/gnomad.v2.1.1.lof_metrics.by_gene.txt.bgz
      output_filename: gnomad_lof_by_gene.txt.gz
      path: target-inputs/gnomad
    subcellular_location:
      uri: https://www.proteinatlas.org/download/subcellular_location.tsv.zip
      output_filename: subcellular_location.tsv.gz
      path: target-inputs/hpa
    project_scores:
      uri: https://cog.sanger.ac.uk/cmp/download/essentiality_matrices.zip
      output_filename: essentiality_matrices.zip
      path: target-inputs/project-scores
    ensembl:
      release: 107
      uri: https://ftp.ensembl.org/pub/release-{release}/json/homo_sapiens/homo_sapiens.json
      output_filename: homo_sapiens.jsonl
      path: target-inputs/ensembl
      jq: '.genes[] | {id: .id, biotype: .biotype, description: .description, end: .end, start: .start, strand: .strand, chromosome: .seq_region_name, approvedSymbol: .name, transcripts: .transcripts, signalP: .SignalP, uniprot_trembl: ."Uniprot/SPTREMBL", uniprot_swissprot: ."Uniprot/SWISSPROT"}'
  miniset: yes
literature:
  http_downloads:
  - uri: https://ftp.ebi.ac.uk/pub/databases/pmc/DOI/PMID_PMCID_DOI.csv.gz
    output_filename: PMID_PMCID_DOI.csv.gz
    path: literature-inputs
otar:
  resource: otarproject
  gs_output_dir: otar-inputs
  sheets:
    - id_spreadsheet: 1CV_shXJy1ACM09HZBB_-3Nl6l_dfkrA26elMAF0ttHs
      worksheet_name: MetaData
      output_format: csv
      output_filename: otar_meta.tsv
    - id_spreadsheet: 1CV_shXJy1ACM09HZBB_-3Nl6l_dfkrA26elMAF0ttHs
      worksheet_name: Project2Disease
      output_format: csv
      output_filename: otar_project_to_efo.tsv