name: documentation

on:
  release:
    types:
      - published
    branches:
      - master

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: 'uv.lock'

      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version-file: 'pyproject.toml'

      - name: install dependencies
        run: uv sync --all-extras --dev

      - name: sphinx build
        run: uv run sphinx-build docs/source _build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
